.contact{
  gap:50px;
  margin:70px 40px
}

.contact-section{
  gap:80px;
}
.contact-left h1{
  background: linear-gradient(90deg, #DA7C25, #B923E1); /* Gradient colors */
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard */
  color: transparent; /* Hide the default text color */
  font-size: 40px; /* Adjust font size as needed */
  font-weight:800px;
}

.contact-left p{
  max-width: 600px;
  color:beige;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 30px;
}

.contact-details{
  gap: 10px;
  color:beige;
  font-size: 22px;;
}

.contact-detail{
  display:flex;
  align-items:center;
  gap: 20px;
}

.contact-right{
  gap: 10px;
}
.contact-right label{
  color: beige;
  font-size: 22px;
  font-weight: 500;;
}
.contact-right input{
  border:none;
  width:700px;
  height:78px;
  padding-left:20px;
  border-radius: 4px;
  background-color: #32323c;
  color:beige;
  font-size: 22px;
}
.contact-right textarea{
  width:700px;
  border:none;
  border-radius: 4px;
  background-color: #32323c;
  color:beige;
  font-size: 22px;
  padding: 25px;
}

.form-submit{
  border:none;
  width:20%;
  color:beige;
  border-radius: 50px;
  background: linear-gradient(90deg, #DA7C25, #B923E1);
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;

}
.symbol{
  background: linear-gradient(90deg, #DA7C25, #B923E1);
  border-radius: 100%;
}
.form-submit:hover{
  transform: scale(1.05);
}

.alert-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border:none;
  background-color: aquamarine;
  border-radius: 100%;
  padding:4px
}
.contact-title{
  display:none;
}

@media(max-width:768px){
  .contact{
    margin:50px 20px;

  }
  .contact-section {
    flex-direction: column;
    gap:40px;
  }
  .contact-left p{
    font-size: 16px;
    line-height: 30px ;

  }
  .contact-left h1{
    font-size: 30px;
  }
  .contact-details{
    gap:10px;
  color:beige;
  }
  .contact-detail{
    gap:10px;
    font-size: 16px;
  }
  
  .contact-right label{
    font-size: 16px;
  }
  .contact-right input{
    height:40px;
    padding-left:10px;
    font-size: 16px;
    width: 90%;
  }
  .contact-title{
    display:flex;
    background: linear-gradient(90deg, #DA7C25, #B923E1); /* Gradient colors */
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard */
  color: transparent; /* Hide the default text color */
  font-size: 20px; /* Adjust font size as needed */
  font-weight:800px;
  }
  .contact-right textarea{
    width: 450px;
  }
  .form-submit{
    padding: 10px;
  }
}
