.Projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
    font-size: 22px;
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-row.row-reverse {
  flex-direction: row-reverse;
}

.project-content {
  flex: 1;
  padding: 1rem;
  min-width: 300px;
}

.project-image {
  flex: 1;
  padding: 1rem;
  text-align: center;
  min-width: 300px;
}

.project-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-img:hover {
  transform: scale(1.05);
}

.project-title {
  padding: 2rem;
}